html {
  height: 100%;
  background: linear-gradient(hsl(249, 64%, 81%), hsl(278, 9%, 25%));
}


body{
  height: 100%;
  background: linear-gradient(hsl(270, 3%, 87%), hsl(274, 5%, 29%));
  background-repeat: repeat-y;
  background-size: 35% auto;
}

.text{
  margin-left: 900px;
  margin-top: -280px;
}



.image2{
  margin-left: 180px;
}
