<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.scss">
    <script src="app/assets/builds/application.js"></script>
    <title>BankCard</title>
  </head>
  <body>
    <div class="images">
      <img src="https://www.picng.com/upload/credit_card/png_credit_card_30124.png" alt="card-front" width="500" height="300">
      <br>
      <div class="image2">
        <img src="https://raw.githubusercontent.com/osmannurierdogan/fem-interactive-card-details-forms/main/images/bg-card-back.png" alt="card-back" width="450" height="260">
      </div>
    </div>
    <div class="text">
      <h2>Cardholder Name</h2>
      <form action="/action_page.php">
        <input type="text" id="name" name="name" placeholder="E.g. Tatsuro Kawabata :"><br>
        <h2>Card Number</h2>
        <input type="text" id="number" name="number" placeholder="E.g. 1111 2222 3333 4444"><br>
        <h2>EXP. DATE (MM/YY)</h2>
        <input type="text" id="mm" name="mm" placeholder="MM">
        <input type="text" id="yy" name="yy" placeholder="YY">
        <h2>CVC</h2>
        <input type="text" id="cvc" name="cvc" placeholder="E.g. cvc">
        <br>
        <input type="submit" placeholder="Confirm">
      </form>
    </div>
  </body>
</html>
